{% extends "table_row/rightCol/baseRightCol.html.twig" %}
{% block letter %}
	--R--
{% endblock %}
{% block cols %}
	<td>{{ cost_item.survey*row.value*row.priceValue/100 }} zł</td>
	<td></td>
	<td></td>
{% endblock %}
