<tr>
	<td>
		{% block letter %}{% endblock %}
	</td>
</tr>
{% for row in circulations %}
	<tr>
		{% block cols %}
			<td>{{ row.name }}</td>
			<td>{{ row.value }} {{ row.getJednostkaDlaNakladuJednostkowego() }}</td>
			<td>{{ row.unit }}</td>
			<td></td>
			{% block koszty %}{% endblock %}
		{% endblock %}
	</tr>
{% endfor %}
