{% extends "table_row/leftCol/baseLeftCol.html.twig" %}
{% block letter %}
	--M--
{% endblock %}
{% block cols %}
	<td>{{ row.name }}</td>
	<td>{{ row.value }}</td>
    <td>{{ row.unit }}</td>
	<td>{{ row.groupNumber }}</td>
	{% block koszty %}{% endblock %}
{% endblock %} 
