{% extends 'base.html.twig' %}

{% block title %}Tablice{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.js"></script>
        <script type="text/javascript" src="../../js/findTable.js"></script>
{% endblock %}
{% block body %}
    <h3>Tablice</h3>

    <div id="div_wyszukaj">
        wyszukaj
        <input id="input_find_table" type="tekst" placeholder="nazwa lub opis" size="30">
    </div>
    <div id="kontener">kontener</div>
    {{ include('cl_table/indexAjax.html.twig') }}


    <a href="{{ path('cl_table_new') }}">Create new</a>
{% endblock %}


