<table class="tableClTable" id="table_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Oznaczenie</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
        {% for cl_table in cl_tables %}
            <tr>
                <td>{{ cl_table.id }}</td>
                {# <td></td> #}
                <td>{{ cl_table.getFullName() }}</td>
                <td><a href="{{ path('cl_table_show', {'id': cl_table.id}) }}">{{ cl_table.getDescription() }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>