{% extends 'base.html.twig' %}

{% block title %}New ClTable{% endblock %}

{% block body %}
    <h3>Create new ClTable</h3>

    {{ include('cl_table/_form.html.twig') }}

    <a href="{{ path('cl_table_index') }}">back to list</a>
{% endblock %}
