<table id="tr_cost_table">
    <thead>
        <th class="cost_col">Nakłady</th>
        <th class="cost_col">Koszt jedn.</th>
        <th class="cost_col">R</th>
        <th class="cost_col">M</th>
        <th class="cost_col">S</th>
    </thead>
    {% for item in items %}
        
    {% endfor %}
</table>