{% extends 'base.html.twig' %}

{% block title %}Edit PozycjaKosztorysowa{% endblock %}

{% block body %}
    <h1>Edit PozycjaKosztorysowa</h1>

    {{ include('pozycja_kosztorysowa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pozycja_kosztorysowa_index') }}">back to list</a>

    {{ include('pozycja_kosztorysowa/_delete_form.html.twig') }}
{% endblock %}
