<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WelcomeXX!{% endblock %}</title>
        {% block stylesheets %}
            {# <link href="{{ asset('css/styl.css') }}" rel="stylesheet"/> #}
            <link href="../../css/styl.css" rel="stylesheet"/>
        {% endblock %}
        <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="header">
        <a href="{{ path('catalog_index') }}">katalogi</a>
        <a href="{{ path('cl_table_index') }}">tablice</a>
        {% block body %}</div>{% endblock %}
        {# {% block javascripts %}{% endblock %} #}
    </body>
</html>
