<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WelcomeXX!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('catalog_index') }}">katalogi</a>
        <a href="{{ path('cl_table_index') }}">tablice</a>
        {% block body %}{% endblock %}
        {# {% block javascripts %}{% endblock %} #}
    </body>
</html>
