{% extends "table_row/leftCol/material.html.twig" %}
{% block koszty %}
{% set price = row.getPriceDivBy100() %}
<td>
    {% if price >= 0.0 %}
    {{ price }}
    {% endif %}
</td>
<td></td>
<td></td>
<td></td>
<td>{{ row.koszt }}</td>
<td></td>
{% endblock %}