{% extends 'base.html.twig' %}

{% block title %}Catalog index{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.js"></script>
        <script type="text/javascript" src="../../js/findCatalog.js"></script>
{% endblock %}
{% block body %}
    <h3>Catalog index</h3>

    <div id="div_wyszukaj">
        wyszukaj
        <input id="input_find_catalog" type="tekst" placeholder="nazwa lub opis" size="30">
    </div>
    <div id="kontener">kontener</div>
    {{ include('catalog/indexAjax.html.twig') }}

    

    <a href="{{ path('catalog_new') }}">Create new</a>
{% endblock %}
