{% extends 'base.html.twig' %}

{% block title %}Catalog index{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="../../js/findCatalog.js"></script>
{% endblock %}
{% block body %}
    <h3>Catalog index</h3>

    <div id="div_wyszukaj">
        wyszukaj
        <input id="input_find_catalog" type="tekst" placeholder="nazwa lub opis" size="30" 
        {% if kosztorys_id is defined %}
            kosztorys_id = "{{ kosztorys_id }}"
        {% endif %}
        
        >
    </div>
    <div id="kontener">kontener</div>
    {{ include('catalog/indexAjax.html.twig') }}

    

    <a href="{{ path('catalog_new') }}">Create new</a>
{% endblock %}
